:root{
    --darkColor: hsl(0, 0%, 0%);
    --middleColor: hsl(0, 0%, 10%);
    --lightColor: hsl(0, 0%, 20%);

    --textColor: hsl(0, 0%, 100%);
}


.vsc-initialized{
    background-color: black;
    color: var(--textColor);
}
.graph{
    padding: 20px;
}
.MuiChartsTooltip-table{
    background-color:var(--lightColor);
    -webkit-text-fill-color: var(--textColor);
}

.vsc-initialized select{
    border: solid;
    border-radius: 5px;
    border-color: var(--lightColor);

    color: var(--textColor);
    background-color: var(--darkColor);

    width: 200px;
    min-height: 40px;
    margin: 5px;

    font-size: 1em;

    cursor: pointer;
}
.vsc-initialized select:hover{
    background-color: var(--lightColor);
}
.vsc-initialized option{
    background-color: var(--darkColor);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;

    /* cursor:pointer; */
}
.header-logo{
    display: flex;
    align-items: baseline;
}
#page-name{
    margin: 0;
}
.header-logo img{
    max-width: 50px;
    margin-right: 5px;
}
.header-search{
    display: flex;
    align-items: stretch;
}
.header-search input{
    width: 200px;
    margin-right: 5px;

    color: var(--textColor);
    background-color: var(--darkColor);

    border-style:solid;
    border-color: var(--lightColor);
    border-width: 3px;
    border-radius: 5px;

    font-size: 1em;
}
.header-search button{
    width: 100px;

    color: var(--textColor);
    background-color: var(--darkColor);

    border-style: solid;
    border-color: var(--lightColor);
    border-width: 3px;
    border-radius: 5px;

    font-size: 1em;
}
.header-search button:hover{
    background-color: var(--lightColor);
    cursor:pointer;
}
.header-search button:active{
    background-color: var(--middleColor);
}

.alert{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;

    border-radius: 10px;
    
    background-color: var(--lightColor);

    font-size: 1em;
}
.alert button{
    height: 22px;
    margin-left: 10px;
    padding: 0;

    background-color: var(--lightColor);
    color: var(--textColor);

    border-style: none;

    font-weight: bold;
}
.alert button:hover{
    cursor: pointer;
}
.alert button:active{
    color: hsl(0, 0%, 80%);
}
.alert h3{
    margin: 0;
    padding-bottom: 3px;
}

.bar{
    display: flex;
    justify-content: space-between;

    height: 45px;
}
.bar section{
    height: fit-content;
}

.name{
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 1.2em;
}
.list li{
    margin: 5px;
    padding: 5px;
    
    border-style: solid;
    border-color: var(--lightColor);
    border-width: 3px;
    border-radius: 5px;
    
    cursor: pointer;
}
.list li:hover{
    background-color: var(--lightColor);
}
.list li:active{
    background-color: var(--middleColor);
}